<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get 방식 요청 테스트</title>
<style>
	ul {
		list-style :none;
		line-height : 200%;
	}
</style>
</head>
<body>

	<h1>GET 방식으로 요청 후 응답데이터 받아보기</h1>
	
	<pre>
		특징 1. GET방식으로 요청하는 경우 URL의 Header영역에 데이터들을 포함해서 요청
		=> 사용자가 입력한 값(데이터들)이 URL에 노출됨
		=> 보안에 취약함	
		=> 즉, 로그인이나 회원가입 기능을 구현할 때는 GET방식이 부적합 함!
		
		특징 2. Header영역은 전송하는 데이터의 길이 제한이 있음
		=> 방대한 데이터를 담았을 경우 초과된 데이터는 절단됨
		=> 게시글 작성 같은 경우 GET방식이 부적합 함!
		
		특징 3. 조회(검색) 기능
		=> 사용자가 입력한 데이터가 URL에 노출되고 응답데이터가 캐싱
		=> 즐겨찾기(북마크) == 해당 URL을 등록해놓는 기능		
	</pre>

	<h2> 사용자의 정보 받기 - GET </h2>
	<p>정보를 입력하시고 입력한 후 버튼을 눌러주세요.</p>	
	
	<!-- 
		form태그 안에 존재하는 submit 버튼 클릭 했을 때 
		form태그의 속성 중 action속성에 작성된 URL로 요청이 감!
		Controller에게 요청 보낸다!(Servlet)
		
		http://127.0.0.1:4000/first/Servlet매핑값.do
		(같은 서버일 경우 IP, 포트번호 생략 가능)
	-->
	 
	<form method="get" action="/first/get.do">
		<ul>
			<li>
				이름 : <input type="text" name="name" />	
			</li>
			<li>
				성별 : 
				남자 <input type="radio" name="gender" value="남" />
				여자 <input type="radio" name="gender" value="여" />
				선택안함 <input type="radio" name="gender" value="선택안함" />
			</li>
			<li>
				나이 : <input type="number" name="age" />
			</li>
			<li>
				사는 지역 :
				<select name="city">
					<option>서울</option>
					<option>제주도</option>
				</select>
			</li>
			<li>
				키 : <input type="range" min="130" max="220" name="height" />
			</li>
			<li>
				좋아하는 음식(모두 고르시오)
				피자 <input type="checkbox" name="food" value="피자"/>
				치킨 <input type="checkbox" name="food" value="치킨"/>
				떡볶이 <input type="checkbox" name="food" value="떡볶이"/>
				돼지고기 <input type="checkbox" name="food" value="돼지고기"/>
				초밥 <input type="checkbox" name="food" value="초밥"/>
			</li>
			<li>
				<input type="submit" value="요청보내기"/>
				<input type="reset" value="초기화"/>
			</li>	
		</ul>
	</form>
	
	
	
	
	
	
</body>
</html>