<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get 방식 요청 테스트</title>
<style>
	ul {
		list-style :none;
		line-height : 200%;
	}
</style>
</head>
<body>

	<h1>GET 방식으로 요청 후 응답데이터 받아보기</h1>
	
	<pre>
		특징 1. GET방식으로 요청하는 경우 URL의 Header영역에 데이터들을 포함해서 요청
		=> 사용자가 입력한 값(데이터들)이 URL에 노출됨
		=> 보안에 취약함	
		=> 즉, 로그인이나 회원가입 기능을 구현할 때는 GET방식이 부적합 함!
		
		특징 2. Header영역은 전송하는 데이터의 길이 제한이 있음
		=> 방대한 데이터를 담았을 경우 초과된 데이터는 절단됨
		=> 게시글 작성 같은 경우 GET방식이 부적합 함!
		
		특징 3. 조회(검색) 기능
		
		
		
		
	</pre>
	
	
	
	
	
	
	
	
</body>
</html>