<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <!-- 
		* web.xml 파일
		- 배포 서술자(DD, Deployment Descriptor)
		- 해당 웹 애플리케이션의 기본적인 설정을 위해서 작성하는 파일
		- 서버를 동작시켜서 애플리케이션을 구동하면 제일 먼저 읽히는 파일
		- 개발자가 web.xml을 수정하지 않고도 개발 및 운영이 가능하지만 
		  규모가 커질 수록 직접 수정해야하는 경우가 대다수  
	-->
  
  <display-name>MyFirstWebProject</display-name>
  
  <!-- 
  	* welcome-file : 클라이언트가 Web Browser를 통해서 URL를 입력해서
  					 요청을 보낼 때 가장 먼저 보여지게 되는 메인페이지를 지정하는 태그
  	http://구동중인 톰캣서버의 ip주소:포트번호/contextRoot
  	
  	=> 각자 본인 컴퓨터에 구축해놓은 서버의 IP주소를 입력 : 127.0.0.1 == localhost
  	=> 서버의 포트번호 : 4000(80으로 지정할 경우 생략이 가능)
  	=> 서버내의 구동중인 contextRoot지정 : first
  	
  	http://127.0.0.1:4000/first
  	
  	단, welcome-file-list에 존재하는 파일명은 반드시 프로젝트 생성시 지정했던
  	ContentDirectory(src/java/webapp)폴더에 위치해야함				 
  -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>